@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t7848b');
  src:  url('fonts/icomoon.eot?t7848b#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?t7848b') format('truetype'),
  url('fonts/icomoon.woff?t7848b') format('woff'),
  url('fonts/icomoon.svg?t7848b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/profile.eot?5y8zb');
  src:  url('fonts/profile.eot?5y8zb#iefix') format('embedded-opentype'),
  url('fonts/profile.ttf?5y8zb') format('truetype'),
  url('fonts/profile.woff?5y8zb') format('woff'),
  url('fonts/profile.svg?5y8zb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/bullhorn.eot?sogb4h');
  src:  url('fonts/bullhorn.eot?sogb4h#iefix') format('embedded-opentype'),
  url('fonts/bullhorn.ttf?sogb4h') format('truetype'),
  url('fonts/bullhorn.woff?sogb4h') format('woff'),
  url('fonts/bullhorn.svg?sogb4h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 10px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}

.icon-user:before {
  content: "\e971";
}

.icon-bullhorn:before {
  content: "\e91a";
}
