@import "src/common/styles";
@import "src/pages/profile-page/styles/profiles_controls";

.change_password {
  background-color: white;
  padding: 15px;
  border: $border;
  .heading_text {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 30px;
  }

  .error_text {
    color: red;
    font-size: 14px;
    margin-left: 10px;
  }
}
