.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .pagination_item {
    margin-right: 10px;
    padding: 12px;
    text-align: center;
    color: rgba(0,0,0,.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 21px;
    font-size: 13px;

    &.selected {
      background-color: rgba(0,0,0,.08);
    }
    &:hover {
      cursor: pointer;
    }
  }
}
