@import "../../../../common/styles";

$textColor: #fff;
$borderRadius: 4px;

.search_block {
  background-color: #e1e1e1;
  padding: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.search_elements_block {
  display: flex;
  align-items: center;
  justify-content: center;

  .input_block {
    display: flex;
    align-items: center;
    width: 30%;
    padding: 5px 25px 5px 25px;
    border-radius: $borderRadius;
    background-color: $textColor;
    margin-right: 25px;
  }

  .input {
    width: 100%;
  }

  .button {
    background-color: #4182d7;
    padding: 5px 25px 5px 15px;
    color: $textColor;
    font-weight: bold;
    font-size: 14px;
    border-radius: $borderRadius;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin-left: 10px;
    }
  }
}
